## Import Dependencies

In [48]:
# Import Dependencies
from path import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import pickle

## Data Extraction

In [49]:
# Read in the csv data
fake_df = pd.read_csv('../Data/Fake.csv',error_bad_lines=False)
true_df = pd.read_csv('../Data/True.csv',error_bad_lines=False)

## Data Transformation

### Clean Fake DF

In [50]:
# Headshot
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [51]:
# Drop non-required columns
fake_df = fake_df.drop(columns=['title','subject','date'])
fake_df.columns

Index(['text'], dtype='object')

In [52]:
# Delete articles with blank(" ") Text
fake_df = fake_df.loc[fake_df["text"] != " "]
fake_df.count()

text    22855
dtype: int64

In [53]:
# Number of unique articles
fake_df.nunique()

text    17454
dtype: int64

In [54]:
# Drop duplicate records
fake_df = fake_df.drop_duplicates(['text'],keep= 'last')
fake_df.count()

text    17454
dtype: int64

In [55]:
# Add label column and set value as 1
fake_df['label'] = 1
fake_df.columns

Index(['text', 'label'], dtype='object')

In [56]:
# Overview of transformed fake articles dataframe
fake_df.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      1
1  House Intelligence Committee Chairman Devin Nu...      1
2  On Friday, it was revealed that former Milwauk...      1
3  On Christmas day, Donald Trump announced that ...      1
4  Pope Francis used his annual Christmas Day mes...      1

### Clean True DF

In [57]:
# Headshot
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [58]:
# Drop non-required columns
true_df = true_df.drop(columns=['title','subject','date'])
true_df.columns

Index(['text'], dtype='object')

In [59]:
# Delete articles with blank(" ") Text
true_df = true_df.loc[true_df["text"] != " "]
true_df = true_df.loc[true_df["text"] != ""]
true_df.count()

text    21416
dtype: int64

In [60]:
# Number of unique articles
true_df.nunique()

text    21191
dtype: int64

In [61]:
# Drop duplicate records
true_df = true_df.drop_duplicates(['text'],keep= 'last')
true_df.count()

text    21191
dtype: int64

In [62]:
# Add label column and set value as 0
true_df['label'] = 0
true_df.columns

Index(['text', 'label'], dtype='object')

### Merge the Dataframes

In [63]:
dataframes = [fake_df, true_df]
articles_df = pd.concat(dataframes)
articles_df.count()

text     38645
label    38645
dtype: int64

## Machine Learning Model

In [64]:
# Defining the feature set X and y
X = articles_df.text
y = articles_df.label

# Split data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, test_size=0.20)

In [65]:
# Implement CountVectorizer which tokenizes and counts occurance of words in text
cv = CountVectorizer()
X_train_count = cv.fit_transform(X_train.values)
X_test_count = cv.transform(X_test)

In [66]:
# Using Multinomial algorithm of Naive Bayes for model training
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [67]:
# Predicting outcome of Test dataset
y_pred = model.predict(X_test_count)

In [68]:
# Finding the accuracy of the Multinomial Naive Bayes model
accuracy_score(y_test,y_pred)

0.9526458791564238

In [70]:
# Save Count Vectorizer and ML Model
pickle.dump(cv, open('cv.sav','wb'))
pickle.dump(model, open('nb_model.sav','wb'))